<div class="row">
    <div class="col">

    </div>
    <div class="col d-flex flex-column">
        <label id="botStatus">unknow</label>
        <button id="powerButton" class="btn btn-secondary">Unknow</button>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/BotSocket.js"></script>