<h1>This page will be fineshed yet :)</h1>

<a href="https://www.flaticon.com/br/icones-gratis/download-direto" title="download direto ícones" target="_blank">Download direto ícones criados por Ilham Fitrotul Hayat - Flaticon</a>
<a href="https://www.flaticon.com/br/icones-gratis/dolar-neon" title="dólar neon ícones" target="_blank">Dólar neon ícones criados por Freepik - Flaticon</a>
<a href="https://www.flaticon.com/br/icones-gratis/cartao-de-credito" title="cartão de crédito ícones" target="_blank">Cartão de crédito ícones criados por Flat Icons - Flaticon</a>
<a href="https://www.flaticon.com/br/icones-gratis/robo" title="robô ícones">Robô ícones criados por Zulfa Mahendra - Flaticon</a>