html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.videoDetailContainer {
    border: 1px solid #C2C2C2;
    border-radius: .3rem;
}
.videoDetailContainer div h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card{
    width: 12rem;
    min-height: 230px;
    padding-top: 1rem;
}
.card img {
    width: 60%;
}
.card-anchor {
    text-decoration: none;
    color: black;
    margin: .5rem;
}
.card-anchor .card-body {
    align-items: center;
 }
.card-anchor:hover{
    color: black;
}

.credit-card{
    margin: .5rem 0rem;
    min-height: 190px;
    border-radius: .5rem;
    padding: 1rem 0;
}
.credit-card .card-stripe{
    background-color: black;
    color: ghostwhite;
    min-height: 30px;
    padding-left: 1rem;
}
.credit-card .card-data{
    padding: 0 1rem;
}
.credit-card .progress {
    height: 5px;
}

.geral-data{
    background-color: rgb(238, 238, 238);
}

.credit-card-container:hover{
    display: grid;
    grid-template-columns: 75% 25%;
}
    .credit-card-container:hover .credit-card-options {
        display: grid;
        grid-template-rows: auto auto;
        padding: .4rem 0;
    }

.credit-card-options {
    display: none;
}
.credit-card-options a {
    margin: .1rem;
}